<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWiseToolsWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WWiseToolsWPF.Properties.Settings>
            <setting name="InputDirectory" serializeAs="String">
                <value>"No Input Directory Selected."</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>"No Output Directory Selected."</value>
            </setting>
            <setting name="KnownFilenamesPath" serializeAs="String">
                <value>"No KnownFilenames Map Selected."</value>
            </setting>
            <setting name="KnownEventsPath" serializeAs="String">
                <value>"No KnownEvents Map Selected."</value>
            </setting>
            <setting name="WEMOutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="WAVOutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OGGOutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFiles" serializeAs="String">
                <value>"No Input Files Selected."</value>
            </setting>
            <setting name="ExportWEM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportWAV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportOGG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportSpreadsheet" serializeAs="String">
                <value>False</value>
            </setting>
        </WWiseToolsWPF.Properties.Settings>
    </userSettings>
</configuration>